<!doctype html>
<html lang="en">
  <head>
    <title></title>
    <link rel="stylesheet" href="/styles/build.css" />
    <link rel="stylesheet" href="/styles/layout.css" />
  </head>
  <body>
    <div class="container">
      <% releases.forEach(release => { %>
      <article>
        <h2>
          [<%= release.date %>]
          <%= release.repo.name %>
          <%= release.tag_name %>
        </h2>
        <h3><%= release.name %></h3>
        <div class="markdown-body"><%- release.bodyHtml %></div>
      </article>
      <% }) %>
    </div>
  </body>
</html>